
  <div class="row">
    <div class="col-md-8">
      <h1>Better Days BBQ</h1>
    </div>
    <div class="col-md-4">
      <h1>Our Location</h1>
      <p>11469 Old Nashville Hwy,<br>Smyrna, TN 37167</p>
    </div>

  </div>
