<div class="bg-red footer">
  <div class="row p-t-3">
    <div class="col-md-4">
      <h4 class="text-white">Address</h4>
    </div>
    <div class="col-md-4">
      <h4 class="text-white">Social Icons</h4>
    </div>
    <div class="col-md-4">
      <h4 class="text-white">Contact<br>Location</h4>
    </div>
  </div>
</div>